.body{
    height: 100%;
}

.boardbody{
    overflow: auto;
    border-radius: 3px;
    display: block;
    height: 88%;
    margin: 10px 10px 0 10px;
}

.nav{
    position: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-corner{
    background-color: rgb(210,144,52);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.35); 
}