.body{
    height: 100%;
}

.boardbody{
    overflow: auto;
    border-radius: 3px;
    display: block;
    height: 79.5%;
    margin: 10px 10px 0 10px;
}

.nav{
    position: fixed;
}

div::-webkit-scrollbar-thumb:hover {
    background-color:  rgba(0, 0, 0, 0.2);
  }

::-webkit-scrollbar-corner{
    background-color: rgb(210,144,52);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.homepageLR{
    width:30%;
    padding: 20px;
    height:95%;
    padding-top: 60px;
}

.homepageCenter{
    width:40%;
    height: fit-content;
}

.homeCenterText{
    line-height: 38px;
    font-size: 2.5em;
    color: rgba(255,255,255,0.8);
    width:100%;     
    position: relative;
    text-align: center;
    margin: 30px 0;
}


.homeCenter{
    margin: 20px;
}