html{
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
  }

  .pageContainer {
    height:100%;
  }

  .nav{
    background-color: black;
  }

  .auth{
    height: 100%;
    /* background-image: url("../resources//backdrop.png"); */
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  
  section{
    height: 90.94%;
    background-color: rgba(255, 255, 255, 0.15);
    font-family: 'Roboto', sans-serif;
  }
  
  #formBox {
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    position: relative;
    width: 753px; /*55%*/
    height: 480px; /*74%*/
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  #overlay {
    left: 0;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-image: linear-gradient(120deg, #f9d423 0%, #ff4e50 100%); */
    background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    box-shadow: 0 0px 20px rgba(0,0,0,0.3);
    border: none;
  }
  
  #signUp {
    transform: translateX(0);
    transition-duration: 1s;
  }
  
  #signIn {
    transform: translateX(20%);
    transition-duration: 1s;
  }
  
  #signUp, #signIn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    color: #fff;
  }
  
  .content{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #signUp button, #signIn button {
    width:120px;
    height:30px;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  #signUp button:hover, #signIn button:hover {
    color: #fff;
    transition: all 0.5s;
  }
  
  .overlay-moveHalfRight #signIn {
    transform: translateX(0);
    transition-duration: 1s;
  }
  
  .overlay-moveHalfRight {
    animation-name: move-slide-right;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  
.subTextOverlay{
  font-family: 'roboto';
  font-size: 1.1em;
}

  @keyframes move-slide-right {
    0% {
      left: 0;
    }
    100% {
      left: 50%;
    }
  }
  
  .overlayInner-moveHalfLeft #signUp {
    transform: translateX(-20%);
    transition-duration: 1s;
  }
  
  .overlay-moveHalfLeft {
    animation-name: move-slide-back-right;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  
  @keyframes move-slide-back-right {
    0% {
      left: 50%;
    }
    100% {
      left: 0;
    }
  }
  
  #overlayInner {
    position: absolute;
    width: 200%;
    height: 100%;
    display: flex;
  }
  
  #overlayInner > div {
    flex: 1;
  }
  
  .overlayInner-moveHalfLeft {
    animation-name: move-slide-left;
    /* Lets the <div> element retain the style values from the last keyframe when the animation ends */
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  
  @keyframes move-slide-left {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  
  .overlayInner-moveHalfRight {
    animation-name: move-slide-back-left;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  
  @keyframes move-slide-back-left {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  
  #forms {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  #forms > div {
    flex: 1;
  }
  
  #signUpForm, #signInForm {
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  }
  
  #forms .holder {
    transform: translateX(0);
    transition-duration: 1s;
    width:100%;
  }

  #signUpForm.shiftLeft .holder {
    /* since this won't be the original position of this form it'll have a lower z index */
  
    transform: translateX(-100%);
    transition-duration: 1s;
  }
  
  #signInForm.shiftRight .holder {
    transform: translateX(100%);
    transition-duration: 1s;
  }
  
  #signInForm h1,#signUpForm h1{
    margin: 10px 0;
  }
  
  #signInForm p,#signUpForm p {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  
  #signInForm input,#signUpForm input {
    border: none;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
    margin-top: 0.8rem;
    line-height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    width: 75%;
  }
  
  
  #signInForm button, #signUpForm button {
    color: #fff;
    background-color: #4287f5;
    border-radius: 3px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    width: 80%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #signUpForm button {
    margin-top: 20px;
  }
  
  #signInForm button.social, #signUpForm button.social{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(33, 33, 33, 0.6);
    margin-bottom: 28px;
    margin-left: 10%;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
  }
  
  .social span{
    padding-left: 14px;
  }
  
  .facebook{
    color: #4267B2;
    font-size: 22px;
  }

  #formBox button:focus {
    outline: none;
  }
  
  #signInForm button:active, #signUpForm button:active {
    transform: scale(0.98);
    transition: transform 0.5s;
  }
  
  .divider{
    display: flex;
    flex-direction: row;
    margin: 10px 40px 18px;
  }
  
  .divider1{
    flex-grow: 1;
    background-color: #dbdbdb;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
    position: relative;
    top: .45em;
  }
  
  .divider2 {
    color: #999;
    color: rgba(var(--f52,153,153,153),1);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
  }

  .flashContainer{
    top: 5px;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.flash{
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 85%;
    border-radius: 4px;
    font-size: 1.2em;
}