.boardCard {
    background-color: #65686dd3;
    /* linear-gradient(45deg, rgba(255, 255, 255, 0.2), #000) ; */
    opacity:0.9;
    height: 50px;
    border-radius: 3px;
    display: flex;
    border:none;
    outline:none;
    margin-bottom: 8px;
    margin-right: 8px;
}

.boardList{
    height:66%;
    overflow: auto;
}

.containerBoard:hover{
    background-color: #65686dd3; 
    /* background-image: linear-gradient(135deg, transparent,  rgba(255, 255, 255, 0.25)); */
    transition: background-color 0.6s;
    cursor: pointer;
}

.disabled{
    cursor: default;
    opacity: 0.4;
}

.containerBoard, .disabled{
    display : flex;
    flex-direction: row;
    align-items : center;
    align-self: center;
    border-radius: 3px;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding-left:4px;
}

.hrStyle {
    border-top: 0.1px solid #8c8b8b;
    opacity: 0.3;
}

.general{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boardButton{
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.boardButtonZ{
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    opacity: 0.1;
}