.boardCard {
    background-color: #65686dd3;
    /* linear-gradient(45deg, rgba(255, 255, 255, 0.2), #000) ; */
    opacity:0.9;
    height: 50px;
    border-radius: 3px;
    display: flex;
    border:none;
    outline:none;
    margin-bottom: 8px;
    margin-right: 8px;
}

.boardList{
    height:66%;
    overflow: auto;
}

.hrStyle {
    border-top: 0.1px solid #8c8b8b;
    opacity: 0.3;
}

.general{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boardButton{
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.boardButtonZ{
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    opacity: 0.1;
}